<div class="container text-white m-5">
  <h3>Willkommen bei Require4Testing!</h3>
  <hr>
  <br>
  Require4Testing ist eine innovative Web-Anwendung, die es Teams ermöglicht, manuelle Anwendertests effizient zu organisieren und durchzuführen. Unser Ziel ist es, den Testprozess zu optimieren und die Qualität von Softwareprodukten kontinuierlich zu verbessern.
  <br>
  <br>
  Mit Require4Testing können Entwickler, Tester und Projektmanager nahtlos zusammenarbeiten, um Testfälle zu erstellen, Testläufe zu planen und Testergebnisse zu verfolgen. Durch die Integration von benutzerfreundlichen Tools und Funktionen bietet unsere Plattform eine transparente und strukturierte Umgebung für das gesamte Testmanagement.
  <br>
  <hr>
  <br>
  Die Anwendung basiert auf einer Reihe von User Stories, die nach der MoSCoW-Methode priorisiert wurden. Diese umfassen:
  <br>
  <br>
  <p><b>Must-Have:</b></p>
  <b>Testfallerstellung:</b> Benutzer können detaillierte Testfälle erstellen, um die Funktionalität und Benutzerfreundlichkeit der Software zu prüfen.
  <br>
  <b>Testplanung:</b> Teams können Testläufe planen, Zeitpläne festlegen und Ressourcen zuweisen, um einen reibungslosen Testablauf sicherzustellen.
  <br>
  <b>Testdurchführung:</b> Tester können die Testfälle ausführen, Testergebnisse dokumentieren und Fehler verfolgen, um eine umfassende Testabdeckung zu gewährleisten.
  <br>
  <b>Berichterstattung:</b> Projektleiter können detaillierte Berichte über den Testfortschritt und die Qualität der Software generieren, um fundierte Entscheidungen zu treffen.
  <br>
  <br>
  <p><b>Should-Have:</b></p>
  <b>Benachrichtigungen:</b> Benutzer erhalten Benachrichtigungen über zugewiesene Aufgaben, Fristen und Änderungen im Teststatus, um eine zeitnahe Reaktion zu ermöglichen.
  <br>
  <b>Zusammenarbeit:</b> Teams können Kommentare hinterlassen, Dateien hochladen und Diskussionen führen, um Wissen zu teilen und Probleme schnell zu lösen.
  <br>
  <br>
  <p><b>Could-Have:</b></p>
  <b>Integration:</b> Die Anwendung kann mit anderen Tools und Plattformen integriert werden, z.B. Issue-Tracking-Systemen oder Continuous-Integration-Tools, um den Testprozess weiter zu optimieren.
  <br>
  <b>Benutzerdefinierte Berichte:</b> Benutzer können benutzerdefinierte Berichte erstellen und anpassen, um spezifische Anforderungen und Metriken zu erfüllen.
  <br>
  <br>
  <p><b>Won't-Have:</b></p>
  <b>Automatisierung:</b> Die Anwendung wird vorerst keine Funktionen zur automatisierten Testausführung oder Skripterstellung unterstützen.
  <br>
  <br>
  Require4Testing ist die ideale Lösung für Teams, die ihre Testpraktiken verbessern und die Qualität ihrer Softwareprodukte steigern möchten. Wir freuen uns darauf, Sie auf Ihrer Reise zur erfolgreichen Softwareentwicklung zu unterstützen!
</div>











