<main class="container text-white m-5">
  <h2>Rollenübersicht</h2>
  <hr>
  <p>Es werden immer alle Anforderungen angezeigt, egal
    welche Rolle der aktive Nutzer hat. Da alle Anforderung
    ohne Probleme öffentlich sein können, werden sie zunächst
    aufgelistet und anschließend kommen bei allen Elementen,
    bei denen der aktuelle Nutzer Rechte hat, die verfügbaren Funktionen.</p>
  <br>
  <br>
  <h5>Requirements Engineer</h5>
  <p>- Kann zu testende Anforderungen erstellen</p>
  <hr>
  <h5>Testmanager</h5>
  <p>- Kann Testläufe anlegen</p>
  <p>- Kann einem Testlauf Testfälle zuordnen</p>
  <p>- Kann einem Testlauf Tester zuordnen</p>
  <hr>
  <h5>Testfallersteller</h5>
  <p>- Kann zu einer Anforderung Testfälle erstellen</p>
  <hr>
  <h5>Tester</h5>
  <p>- Kann zugeordnete Testfälle mit einem Ergebnis versehen</p>
</main>

